# -------------------- JAVASCRIPT DEPENDENCIES --------------------
parser/node_modules/

# -------------------- PRIVATE GAME FILES --------------------
DYNASTY-*
*.gz
!parser/schemas/C27_486_1.gz

# -------------------- DATABASE / LOCAL ENVIRONMENT --------------------
.env
*.log
__pycache__/
*.pyc
# -------------------- CFB27 GAME ASSETS --------------------
assets/awards/
assets/coaches/
assets/player_portraits/
assets/postseason/
assets/teams/